<div class="container">
    <h5>注文履歴詳細</h5>
    <div class="row">
        <table>
            <thead>
                <tr></tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>購入者</strong></td>
                    <td><%= @order.name %></td>
                </tr>
                <tr>
                    <td><strong>注文日</strong></td>
                    <td><%= @order.created_at %></td>
                </tr>
                <tr>
                    <td><strong>配送先</strong></td>
                    <td>
                        <%= "〒"+@order.postal_code+@order.address %><br>
                        <%= @order.name %>
                    </td>
                </tr>
                <tr>
                    <td><strong>支払方法</strong></td>
                    <td><%= @order.method_of_payment_i18n %></td>
                </tr>
                <tr>
                    <td><strong>注文ステータス</strong></td>
                    <td><%= @order.status %></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-8">
            <table>
                <thead>
                    <tr class="table-active">
                        <th>商品名</th>
                        <th>単価（税込）</th>
                        <th>数量</th>
                        <th>小計</th>
                        <th>制作ステータス</th>
                    </tr>
                </thead>
                <tbody>
                    <% @order.order_details.each do |order_detail| %>
                    <tr>
                        <td><%= order_detail.item.name %></td>
                        <td><%= order_detail.price %></td>
                        <td><%= order_detail.amount %></td>
                        <td><%= order_detail.price*order_detail.amount %></td>
                        <td></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <table>
                <thead>
                    <tr></tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>商品合計</strong></td>
                        <td><%= @order.payment-@order.postage %>円</td>
                    </tr>
                    <tr>
                        <td><strong>送料</strong></td>
                        <td><%= @order.postage %>円</td>
                    </tr>
                    <tr>
                        <td><strong>請求金額合計</strong></td>
                        <!--< @order.payment = @total_price+@order.postage %>-->
                        <td><%= @order.payment %>円</td>
                    </tr>
                </tbody>
            </table>
            
        </div>
        
    </div>
</div>