<h2><%= @customer.name"さんの会員詳細" %></h2>
    <ul>
        <li>会員ID</li>
        <p><%= @customer.name %></p>
        <li>氏名</li>
        <p><%= @customer.last_name first_name %></p>
        <li>フリガナ</li>
        <p><%= @customer.last_name_kana first_name_kana %></p>
        <li>郵便番号</li>
        <p><%= @customer.postl_code%></p>
        <li>住所</li>
        <p><%= @customer.address %></p>
        <li>電話番号</li>
        <p><%= @customer.telephone_number %></p>
        <li>メールアドレス</li>
        <p><%= @customer.encrypted_password %></p>
        <li>会員ステータス</li>
        <p></p>
    </ul>
    <div><%= link_to "編集する", edit_admin_customer_path(@customer.id) %></div>
    