<h5>ショッピングカート</h5>
    <%= link_to "カートを空にする", cart_items_destroy_all_path, method: :delete, "data-confirm" => "本当に消しますか？", class: 'btn btn-sm btn-danger destry_cart_item_id' %>
    <div class="mx-auto col-xl-10">
        
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>商品名</th>
                <th>単価（税込）</th>
                <th>数量</th>
                <th>小計</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @cart_items.each do |cart_item| %>
            <tr>
                <td><%= image_tag cart_item.item.image, size: "150x100" %><%= cart_item.item.name %></td>
                <td><%= cart_item.item.with_tax_price %></td>
                <td>
                    <%= form_with model: cart_item, url: cart_item_path(cart_item.id), method: :patch do |f| %>
                    <%= f.select :amount, *[1..10] %>
                    <%= f.submit "変更", class: "btn btn-outline-dark" %>
                    <% end %>
                </td>
                <td><%= cart_item.subtotal%></td>
                <td><%= link_to "削除する", cart_item_path(cart_item.id), method: :delete, "data-confirm" => "本当に消しますか？", class: 'btn btn-sm btn-danger destry_cart_item_id' %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
    </div>
<div>
    <div>
        <button type="button" class="btn btn-outline-dark">
        <%= link_to "買い物を続ける", items_path %>
        </button>
    </div>
    <div class="mx-auto col-xl-3">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>合計金額</th>
                    <th><%= @total_price.round.to_s(:delimited)%></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<button type="button" class="btn btn-outline-dark">
    <%= link_to "情報入力に進む", items_path %>
</button>