<div class="container">
<h5 class="md-auto mt-4 mb-4">注文情報入力画面</h5>
    <div class="row">
    <%= form_with model: @order, url: orders_confirm_path, method: :post do |f| %>
            <h5><strong>支払い方法</strong></h5>
        <div class="ml-5">
            <%= f.radio_button :method_of_payment, Order.method_of_payments.key(0) %>
            <%= f.label :method_of_payment_credit_card, Order.method_of_payments_i18n[:credit_card] %><br>
            
            <%= f.radio_button :method_of_payment, Order.method_of_payments.key(1) %>
            <%= f.label :method_of_payment_transfer, Order.method_of_payments_i18n[:transfer]%>
        </div>
            <h5><strong>お届け先</strong></h5>
        <div class="ml-5">
            <%= f.radio_button :sel_add, 0 %>ご自身の住所
            <%= f.label "〒"+@customer.postal_code+@customer.address %><br>
            <p class="ml-3"><%= @customer.last_name+@customer.first_name %></p>
            
            <%= f.radio_button :sel_add, 1 %>登録済み住所から選択<br>
            <div class="ml-3">   
            <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %><br>
            </div>
            
            <%= f.radio_button :sel_add, 2 %>新しいお届け先
            <table class="ml-3 mb-3">
                <thead>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>郵便番号（ハイフンなし）</td>
                        <td><%= f.text_field :postal_code %></td>
                    </tr>
                    <tr>
                        <td>住所</td>
                        <td><%= f.text_field :address, size: "50" %></td>
                    </tr>
                    <tr>
                        <td>宛名</td>
                        <td><%= f.text_field :name %></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="mx-auto col-md-3">
            <%= f.submit '確認画面へ進む', class: 'btn btn-success' %>
        </div>
        <% end %>

    </div>
</div>