<div class="container">
    <div class="row">
        <div class="col-md-3 mt-5">
                    <table class="table table-sm table-bordered">
                        <thead>
                            <tr>
                                <th>ジャンル検索</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><%= link_to "ケーキ",items_path %></td>
                            </tr>
                            <tr>
                                <td><%= link_to "焼き菓子",items_path %></td>
                            </tr>
                            <tr>
                                <td><%= link_to "プリン",items_path %></td>
                            </tr>
                            <tr>
                                <td><%= link_to "キャンディ",items_path %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        
            <div class="mx-auto col-md-9">
            <h5 class="mt-5 mb-4"><strong>商品一覧</strong></h5>
            <div class="d-flex flex-wrap">
                <% @items.first(8).each do |item| %>
                <div class="mx-3">
                    <% if item.image.attached? %>
                        <%= image_tag item.image, size: "150x150" %>
                    <% else %>
                        <%= image_tag 'no_image', size: "150x150" %>
                    <% end %><br>
                    <strong><%= link_to item.name, item_path(item.id) %></strong><br>
                    <strong>¥<%= item.price %></strong>
                </div>
                <% end %>
            </div>
            </div>    
                <div class="mx-auto col-xl-1 mt-5">
                <%= paginate @items %>
                </div>
    </div>
</div>