<div>
    <tabule>
        <thead>
            <tr>
                <th>ジャンル検索</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= link_to "ケーキ",admin_genres_path %></td>
            </tr>
            <tr>
                <td><%= link_to "焼き菓子",admin_genres_path %></td>
            </tr>
            <tr>
                <td><%= link_to "プリン",admin_genres_path %></td>
            </tr>
            <tr>
                <td><%= link_to "キャンディ",admin_genres_path %></td>
            </tr>
        </tbody>
    </tabule>
</div>

<div class="container">  <!-- この行を追加 -->
  <div class="row">      <!-- この行を追加 -->
    <div class="col-lg-4">
      <% if @item.image.attached? %>
        <%= image_tag @item.image, size: "300x300" %>
      <% else %>
        <%= image_tag 'no_image', size: "300x300" %>
      <% end %>
      </div>
    <div class="col-lg-8">
      <table class="table table-borderless">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @item.name %></td>
        </tr>
        <tr>
          <td><%= @item.introduction %></td>
        </tr>
        <tr>
          <td>税抜価格</td>
          <td><%= @item.price %></td>
        </tr>
      </tbody>
    </table>
    </div>
    
    <div class="mx-auto col-xl-3">
      <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
          <%= f.hidden_field :item_id, :value => @item.id %>
          <%= f.hidden_field :customer_id, :value => current_customer.id %>
          <%= f.select :amount, *[1..10] %>
          <%= f.submit "カートに入れる", class: "btn btn-outline-dark" %>
      <% end %>
    </div>
  </div>
</div>
