<div class="container">
    <div class="row">
        <div class="col-md-2 mt-5">
                    <table class="table table-sm table-bordered">
                        <thead>
                            <tr>
                                <th>ジャンル検索</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><%= link_to "ケーキ",items_path %></td>
                            </tr>
                            <tr>
                                <td><%= link_to "焼き菓子",items_path %></td>
                            </tr>
                            <tr>
                                <td><%= link_to "プリン",items_path %></td>
                            </tr>
                            <tr>
                                <td><%= link_to "キャンディ",items_path %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
    <div class="col-md-4">
      <% if @item.image.attached? %>
        <%= image_tag @item.image, size: "300x300" %>
      <% else %>
        <%= image_tag 'no_image', size: "300x300" %>
      <% end %>
      </div>
    <div class="col-md-6">
      <table class="table table-borderless">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong><%= @item.name %></strong></td>
        </tr>
        <tr>
          <td><%= @item.introduction %></td>
        </tr>
        <tr>
          <td><strong><%= "¥"+@item.price.to_s %></strong>（税込）</td>
        </tr>
      </tbody>
    </table>
      <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
          <%= f.hidden_field :item_id, :value => @item.id %>
          <%= f.hidden_field :customer_id, :value => current_customer.id %>
          <%= f.select :amount, *[1..10] %>
          <%= f.submit "カートに入れる", class: "btn btn-outline-dark" %>
      <% end %>
    </div>
    
  </div>
</div>
