<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/">LOGO</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        <!--aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">-->
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="text-right">
            <ul class="navbar-nav ml-auto">
            <% if admin_signed_in? %>
                <button type="button" class="btn btn-outline-secondary btn-sm mr-2">
                  <%= link_to '商品一覧', admin_items_path, class: 'nav-link text-dark' %>
                </button>
                <button type="button" class="btn btn-outline-secondary btn-sm mr-2">
                  <%= link_to '会員一覧', admin_customers_path, class: 'nav-link text-dark' %>
                </button>
                <button type="button" class="btn btn-outline-secondary btn-sm mr-2">
                  <%= link_to "注文履歴一覧", admin_root_path, class: 'nav-link text-dark' %>
                </button>
                <button type="button" class="btn btn-outline-secondary btn-sm mr-2">
                  <%= link_to "ジャンル一覧", admin_genres_path, class: 'nav-link text-dark' %>
                </button>
                <button type="button" class="btn btn-outline-secondary btn-sm mr-2">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %>
                </button>
            <% elsif customer_signed_in? %>
                <li>
                    ようこそ、<%= current_customer.first_name %>さん！
                </li>
                <button type="button" class="btn btn-outline-secondary btn-sm mr-2">
                  <%= link_to 'マイページ', customer_path(current_customer), class: 'nav-link text-dark' %>
                </button>
                <button type="button" class="btn btn-outline-secondary btn-sm mr-2">
                  <%= link_to '商品一覧', items_path, class: 'nav-link text-dark' %>
                </button>
                <button type="button" class="btn btn-outline-secondary btn-sm mr-2">
                  <%= link_to "カート", cart_items_path, class: 'nav-link text-dark' %>
                </button>
                <button type="button" class="btn btn-outline-secondary btn-sm mr-2">
                  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' %>
                </button>
            <% else %>
                <button type="button" class="btn btn-outline-secondary btn-sm mr-2">
                  <%= link_to 'About', about_path, class: 'nav-link text-dark' %>
                </button>
                <button type="button" class="btn btn-outline-secondary btn-sm mr-2">
                  <%= link_to '商品一覧', items_path, class: 'nav-link text-dark' %>
                </button>
                <button type="button" class="btn btn-outline-secondary btn-sm mr-2">
                  <%= link_to "新規登録", new_customer_registration_path, class: 'nav-link text-dark' %>
                </button>
                <button type="button" class="btn btn-outline-secondary btn-sm mr-2">
                  <%= link_to "ログイン", new_admin_session_path, class: 'nav-link text-dark' %>
                </button>
            <% end %>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
            <%= link_to "customer_log_out", destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' %>
            <h2>会員登録がお済みでない方</h2>
            <%= link_to "こちら", new_customer_registration_path %>から会員登録を行ってください。

          </div>
        </div>
      </div>
    </footer>
  </body>
</html>